html, body {
  min-height: 100%;
}

body, div, form, input, select, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Default font */
  font-size: 16px;
  color: #190c0c;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* Attractive font */

body {
  background: url("/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg") no-repeat center;
  background-size: cover;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  background: #efc87580; 
}

.left-part {
  text-align: center;
}

.left-part h1 {
  text-transform: uppercase;
}
.left-part h1 {
  text-transform: uppercase;
  transition: color 0.5s ease; /* Smooth color transition */
}

/* Optionally add hover effect for the heading */
.left-part h1:hover {
  color: #ad8c60; /* Change color on hover */
}

.form-container {
  background: #ad8c60; /* New background color */
  padding: 25px;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); /* Optional shadow for depth */
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 30px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.form-control::placeholder {
  color: #675a5a;
}

.submit-button {
  padding: 10px 5px;
  margin-top: 20px;
  border-radius: 5px; 
  border: none;
  background: #efc87580; 
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #201717;
  width: 100%;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background: #eae9e580;
}

@media (min-width: 568px) {
  .main-block {
      flex-direction: row;
  }
  .left-part, .form-container {
      flex: 1;
  }
}
